<style type="text/css">
* {
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}
body {
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  /* background-color: aquamarine; */
  background-image: url("pexels-photo-235986.jpeg");
}
img {
  height:200px ;
  width: 200px;  
}
.main {
  width: 1100px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
  
}
.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap:1em

}

.card{
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  margin: 2%;
  padding: 10px 10px;
  align-self: normal;
  background-color: bisque;
}

.image img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 20px;
}
.des {
  box-sizing: border-box;
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
button {
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
button{
  background-color:rgb(179, 36, 148);
  border-color: rgb(63, 165, 33);
  border-radius: 70%;
  width: 150px;
  clip-path:ellipse();
}
p{
  width: 200px;
  overflow: scroll;
}
